.places__title {
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  color: white;
  margin: 0;
  max-width: 460px;
  align-self: end;
}

@media screen and (max-width: 1024px) {
  .places__title {
    max-width: 440px;
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .places__title {
    max-width: 340px;
    font-size: 2.625rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 550px) {
  .places__title {
    min-width: 288px;
    font-size: 2rem;
    line-height: 1.09;
    margin: auto;
    margin-bottom: 32px;
  }
}
