.footer__link {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.12;
  color: #ffffff;
  transition: opacity 1s ease-in-out;
  margin: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 750px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1;
  }
}
