.lead__title {
  font-size: 6rem;
  line-height: 1.04;
  text-align: center;
  font-weight: 900;
  color: white;
  width: 100%;
  margin: 0 auto;
}


@media screen and (max-width: 650px) {
  .lead__title {
    font-size: 3.5rem;
  }
}



@media screen and (max-width: 450px) {
  .lead__title {
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 1.1;
  }
}