.footer__list {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex; 
}

@media screen and (max-width: 600px) {
    .footer__list {
      flex-direction: column;
      justify-content: flex-start; 
      align-items: flex-start;
    }
  }