.intro__title {
  max-width: 690px;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.07;
  color: #ffffff;
  margin: 0;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .intro__title {
    max-width: 288px;
    font-size: 2rem;
    line-height: 1.09;
  }
}